{% extends 'base.html.twig' %}

{% block body %}
<!-- ##### Header Area Start ##### -->


<!-- ##### Welcome Area Start ##### -->
<section class="welcome_area bg-img background-overlay" style="background-image: url(https://www.planwallpaper.com/static/images/violet-vector-leaves-circles-backgrounds-for-powerpoint_PdfkI4q.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="hero-content">

                    <h2>Les produits</h2>
                    <a href="{{ path('produit_index') }}" class="btn essence-btn">Voir les produits</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Welcome Area End ##### -->

<!-- ##### Top Catagory Area Start ##### -->
<div class="top_catagory_area section-padding-80 clearfix">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Single Catagory -->
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(http://www.lefouillisdulivre.com/files/sliders/small_slider_86433.jpg);">
                    <div class="catagory-content">
                        <a href="{{ path('produit_show_categorie', { 'id': 1 }) }}">Livre</a>
                    </div>
                </div>
            </div>
            <!-- Single Catagory -->
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(http://assdesas.fr/wordpress/wp-content/uploads/2017/01/Film.jpg);">
                    <div class="catagory-content">
                        <a href="{{ path('produit_show_categorie', { 'id': 2 }) }}">Film</a>
                    </div>
                </div>
            </div>
            <!-- Single Catagory -->
            <div class="col-12 col-sm-6 col-md-4">
                <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(http://www.cinechronicle.com/wp-content/uploads/2016/01/Top-10-des-meilleures-nouvelles-series-2015-de-CineChronicle.jpg);">
                    <div class="catagory-content">
                        <a href="{{ path('produit_show_categorie', { 'id': 3 }) }}">Séries</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Top Catagory Area End ##### -->

<!-- ##### New Arrivals Area Start ##### -->
<section class="new_arrivals_area section-padding-80 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Aperçu des produits</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="popular-products-slides owl-carousel">
                    {% for produit in produits %}
                    <!-- Single Product -->
                    <div class="single-product-wrapper">
                        <!-- Product Image -->
                        <div class="product-img">
                            <img src="{{produit.image}}" alt="{{produit.nom}}">
                            <!-- Hover Thumb -->
                            <img class="hover-img" src="{{produit.image}}" alt="{{produit.nom}}">
                            <!-- Favourite -->
                            <div class="product-favourite">
                                <a href="#" class="favme fa fa-heart"></a>
                            </div>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            <span>{{produit.categorieId.nom}}</span>
                            <a href="single-product-details.html">
                                <h6>{{produit.nom}}</h6>
                            </a>
                            <p class="product-price">20€</p>

                            <!-- Hover Content -->
                            <div class="hover-content">
                                <!-- Add to Cart -->
                                <div class="add-to-cart-btn">
                                    <a href="{{ path('produit_show', { 'id': produit.id }) }}" class="btn essence-btn">Voir le produit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### New Arrivals Area End ##### -->

<!-- ##### Footer Area Start ##### -->
<footer class="footer_area clearfix">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
    </div>
</footer>


{% endblock %}
