{% extends 'base.html.twig' %}

{% block body %}
<div class="top_catagory_area section-padding-80 clearfix">
  <div class="container">
    <h1>Ajouter une Categorie</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <br>
        <input type="submit" value="Ajouter" />
    {{ form_end(form) }}
    <br>
    <ul>
        <li>
            <a class="btn essence-btn" href="{{ path('categorie_index') }}">Retour à la liste</a>
        </li>
    </ul>
  </div>
</div>
{% endblock %}
