{% extends 'base.html.twig' %}

{% block body %}
<div class="top_catagory_area section-padding-80 clearfix">
  <div class="container">
    <h1>Liste des produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Image</th>
                <th>Dtajout</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.description|slice(0, 255) }}...</td>
                <td><img height="170" width="130" src="{{produit.image}}" alt="{{produit.nom}}"></td>
                <td>{% if produit.dtAjout %}{{ produit.dtAjout|date('d-m-Y') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn essence-btn" href="{{ path('produit_show', { 'id': produit.id }) }}">Voir</a>
                        </li>
                        <br>
                        <li>
                            <a class="btn essence-btn" href="{{ path('produit_edit', { 'id': produit.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}
