{% extends 'base.html.twig' %}

{% block body %}
  <section class="single_product_details_area d-flex align-items-center">

       <!-- Single Product Thumb -->
       <div class="single_product_thumb clearfix">
           <div class="product_thumbnail_slides owl-carousel">
               <img src="{{produit[0].image}}" alt="{{produit[0].nom}}">
               <img src="{{produit[0].image}}" alt="{{produit[0].nom}}">
               <img src="{{produit[0].image}}" alt="{{produit[0].nom}}">
           </div>
       </div>

       <!-- Single Product Description -->
       <div class="single_product_desc clearfix">
           <span>{{produit[0].categorieId.nom}}</span>
           <a href="cart.html">
               <h2>{{ produit[0].nom }}</h2>
           </a>
           <p class="product-price"><span class="old-price">30.00€</span> 20.00€</p>
           <p class="product-desc">{{ produit[0].description }}</p>
           <form class="cart-form clearfix" method="post">
                    <!-- Cart & Favourite Box -->
                    <div class="cart-fav-box d-flex align-items-center">
                        <!-- Cart -->
                        <a href="{{ path('produit_edit', { 'id': produit[0].id }) }}" class="btn essence-btn">Modifier le produit</a>
                      </br>
                        {{ form_start(delete_form) }}
                            <input type="submit" class="btn essence-btn" value="Supprimer le produit">
                        {{ form_end(delete_form) }}
                    </div>
                </form>
       </div>


   </section>

{% endblock %}
