<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}ProduitEwill{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <!-- Core Style CSS -->
        <link rel="stylesheet" href="{{ asset('asset/css/core-style.css') }}">
        <link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">
    </head>

    <body>
      <header class="header_area">
          <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
              <!-- Classy Menu -->
              <nav class="classy-navbar" id="essenceNav">
                  <!-- Logo -->
                  <a class="nav-brand" href="index.html"><img src="img/core-img/logo.png" alt=""></a>
                  <!-- Navbar Toggler -->
                  <div class="classy-navbar-toggler">
                      <span class="navbarToggler"><span></span><span></span><span></span></span>
                  </div>
                  <!-- Menu -->
                  <div class="classy-menu">
                      <!-- close btn -->
                      <div class="classycloseIcon">
                          <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                      </div>
                      <!-- Nav Start -->
                      <div class="classynav">
                          <ul>
                              <li><a href="{{ path('homepage') }}">Accueil</a></li>
                              <li><a href="#">Catégories</a>
                                      <ul class="dropdown">
                                        {% for categorie in categories %}
                                          <li><a href="{{ path('produit_show_categorie', { 'id': categorie.id }) }}">{{categorie.nom}}</a></li>
                                        {% endfor %}
                                      </ul>
                              </li>
                              <li><a href="{{ path('produit_new') }}">Ajouter un produit</a></li>
                              <li><a href="{{ path('categorie_new') }}">Ajouter une categorie</a></li>

                          </ul>
                      </div>
                      <!-- Nav End -->
                  </div>
              </nav>

          </div>
      </header>
      <!-- ##### Header Area End ##### -->
        {% block body %}


      {% endblock %}
      {% block javascripts %}
      <!-- jQuery (Necessary for All JavaScript Plugins) -->
      <script src="{{ asset('asset/js/jquery/jquery-2.2.4.min.js') }}"></script>
      <!-- Popper js -->
      <script src="{{ asset('asset/js/popper.min.js') }}"></script>
      <!-- Bootstrap js -->
      <script src="{{ asset('asset/js/bootstrap.min.js') }}"></script>
      <!-- Plugins js -->
      <script src="{{ asset('asset/js/plugins.js') }}"></script>
      <!-- Classy Nav js -->
      <script src="{{ asset('asset/js/classy-nav.min.js') }}"></script>
      <!-- Active js -->
      < <script src="{{ asset('asset/js/active.js') }}"></script>
      {% endblock %}
    </body>
</html>
